In [1]:
import pandas as pd

In [2]:
# 2877


def create_dataframe(student_data: list[list[int]]) -> pd.DataFrame:
    return pd.DataFrame(student_data, columns=["student_id", "age"])

In [3]:
dt = create_dataframe([[1, 15], [2, 11], [3, 11], [4, 20]])

In [4]:
# 2878


def get_dataframe_size(players: pd.DataFrame) -> list[int]:
    return [*players.shape]

In [5]:
get_dataframe_size(dt)

[4, 2]

In [6]:
# 2879


def select_first_rows(employees: pd.DataFrame) -> pd.DataFrame:
    employees["essa"] = employees["age"]

In [7]:
select_first_rows(dt)

In [8]:
def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    s = accounts["income"].sum()
    series = pd.Series(
        {
            "High Salary": pd.Series(s > 50000).sum(),
            "Low Salary": pd.Series(s < 20000).sum(),
            "Average Salary": pd.Series(20000 <= s <= 50000).sum(),
        }
    )
    return series.reindex("category").reset_index()